<div ng-intro-options="IntroOptions" ng-intro-method="CallMe" 
      ng-intro-onafterchange="AfterChangeEvent"
      ng-intro-oncomplete="CompletedEvent"
      ng-intro-autostart="ShouldAutoStart">
<div class="container-fluid" id="header">
  <div class="row">
    <div class="col-xs-9 col-xs-offset-1 col-sm-4 col-sm-offset-4">
      <img class="img-responsive" id="headerIcon" src="../../assets/images/IWlogo.svg">
    </div>
    <div class="col-xs-2 col-sm-2 col-sm-offset-2">
      <p id="queries">Contact Us</p>
    </div>
  </div>
</div>
<div class="container-fluid makeCenter">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      <h2 id="firstLine">"Get your work done by</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <h1 id="secondLine">People who love doing it!"</h1>
    </div>
  </div>
  <div class="row">
    <img id="redLayer" src="../../assets/images/1redlayer.png">
    <img id="firstBlackLayer" src="../../assets/images/2blacksmall.png">
    <img id="secondBlackLayer" src="../../assets/images/3blackbig.png">
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      <h1 id="comingSoonText">Coming Soon!</h1>
    </div>
  </div>
  <div class="row">
    <form name="form" class="form-inline" novalidate>
      <div class="form-group">
        <input ng-model="email" type="email" name="email" class="form-control" id="inputField" placeholder="Enter your email address">
      </div>
      <button id="notifyButton" ng-click="addEmail(form)" class="btn btn-default">Notify Me!</button>
    </form>
    <span class="help-block" ng-show="form.email.$error.email && submitted">
      Doesn't look like a valid email.
    </span>
  </div>
  <span id="message">{{message}}</span>
  <div class="row makeCenter">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
      <a target="_blank" href="https://www.facebook.com/indiaworks111">
        <img src="../../assets/images/fb.jpg" class="socialImage" id="facebook">
      </a>
      <a target="_blank" href="">
        <img src="../../assets/images/youtube.png" class="socialImage" id="youtube">
      </a>
<!-- 
      <a target="_blank" href="">
        <img src="../../assets/images/linkedin.png" class="socialImage">
      </a>
      <a target="_blank" href="">
        <img src="../../assets/images/twitter.png" class="socialImage">
      </a>
 -->
    </div>
  </div>
</div>
</div>
<div id="footer">
  <p id="copyright">&copy; Copyright 2015</p>
</div>